// font-family: 'GetVoIP Grotesque', sans-serif;
@font-face {
	font-family: 'GetVoIP Grotesque';
	font-style: normal;
	font-weight: 700;
	src: local('GetVoIP Grotesque'),
		url('https://fonts.cdnfonts.com/s/21763/GetVoIP Grotesque.woff')
			format('woff');
}
// font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');
// font-family: 'Source Sans Pro', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	background: #fbfbfb;
	color: #2b2732;

	font-family: 'Inter', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}
a {
	text-decoration: none;
	color: inherit;
}

header {
	margin: 0;
	padding: 24px 0;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;

	border-bottom: 1px solid #2b2732;

	.logo {
		max-height: 80px;
		max-width: 120px;
	}
}

nav {
	.menu {
		&--horizontal {
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			gap: 42px;
		}
	}
}

section {
	position: relative;
	padding: 92px 0;
	border-bottom: 1px solid #000000;

	h1 {
		position: relative;
		max-width: 80%;
		margin-bottom: 64px;
		font-size: 82px;
		font-family: 'GetVoIP Grotesque', sans-serif;
	}
	h3 {
		position: relative;
		max-width: 600px;
		font-size: 32px;
		font-family: 'GetVoIP Grotesque', sans-serif;
	}

	.hero {
		&--info {
			.info--list {
				margin: 0;
				padding: 0;
				padding-left: 30px;
				li {
					list-style: disc;
					font-size: 21px;
					margin-bottom: 8px;
				}
			}
		}
	}

	.services {
		h4 {
			color: #7e7b82;
			margin-top: 0 !important;
			font-family: 'GetVoIP Grotesque', sans-serif;
		}
		p {
			line-height: 25px;
		}
	}

	&.banner {
		background-image: url('./img/section__proccess.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	&.expirience {
		.expirience--info {
			.numeric {
				font-size: 72px;
				font-weight: 200;
				margin: 0 0 8px 0;
				font-family: 'Inter', sans-serif;
			}
			p {
				color: #2b2732;
				font-weight: 700;
				font-size: 20px;
				line-height: 130%;
				opacity: 0.6;
			}
		}
	}

	&.hot {
		padding: 0 0 92px 0;
		color: #ffffff;
		marquee {
			background: #056d7b;
			h1 {
				font-size: 120px;
				margin: 32px 0;
				font-family: 'Source Sans Pro', sans-serif !important;
				text-transform: uppercase;
			}
		}
	}

	&.portfolio {
		min-height: 420px;
		.portfolio {
			&--image {
				&-list {
					position: absolute;
					right: 0;
					top: 0;
					width: 50%;
					border-radius: 12px 0 0 12px;
					overflow: hidden;
					background-color: #11a083;
					height: 100%;

					.swiper,
					.swiper-wrapper,
					.swiper-slide {
						width: 100%;
						height: 100%;
						max-width: 100%;
						max-height: 100%;
					}

					.swiper {
						.swiper-slide {
							img {
								height: 100%;
								width: 100%;
								object-fit: cover;
								object-position: 35% 0;
							}
						}
					}
				}
			}
		}

		.slider {
			&--number {
				font-family: 'Inter', sans-serif;
				font-size: 32px;
				font-weight: 200;
				letter-spacing: 4px;

				&-active {
					font-weight: 400;
				}
				&-total {
					font-size: 24px !important;
				}
			}

			&--prev,
			&--next {
				position: relative;
				height: 54px;
				width: 108px;
				img {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					margin: auto auto;
					transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
				}
			}
			&--prev {
				&:hover {
					background: none !important;
					img {
						left: -25px;
					}
				}
			}
			&--next {
				&:hover {
					background: none !important;
					img {
						right: -25px;
					}
				}
			}
		}
	}
}

footer {
	position: relative;
	padding: 92px 0;

	h1 {
		font-family: 'GetVoIP Grotesque', sans-serif;
	}

	.mr-4 {
		margin-right: 16px;
	}
	.mt-max {
		margin-top: 64px;
	}

	.contacts {
		gap: 0;

		&--name {
			margin: 0;
			color: #7e7b82;
			font-family: 'GetVoIP Grotesque', sans-serif;
		}
		&--map {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 40%;
			background: #7e7b82;
		}
	}

	.btt {
		position: absolute;
		top: 100px;
		left: 80px;
	}

	#map {
		width: 100%;
		height: 100%;
		filter: grayscale(60%);
	}
}

.text {
	&-primary {
		color: #056d7b;
	}
	&-white {
		color: #ffffff;
		&::after {
			content: '';
			background-color: #ffffff !important;
		}
	}
}
.h-underline {
	&::after {
		content: '';
		width: 80px;
		height: 4px;
		background-color: #056d7b;
		position: absolute;
		bottom: -16px;
		left: 0;
	}
}
.ml {
	&-auto {
		margin-left: auto;
	}
}
.btn {
	&--wrapper {
		width: 100%;
		margin-top: 32px;
		display: flex;
		flex-direction: row;
		gap: 32px;
	}

	width: fit-content;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 18px 30px;
	border: 2px solid #2b2732;
	border-radius: 72px;

	&--primary {
		color: #ffffff;
		background: #11a083;
	}
	&--clear {
		border: none;
	}

	&:hover {
		background: #2b2732;
		color: #ffffff;
	}
}

.tarif {
	&--list {
		margin-top: 48px;
	}
	&--content {
		border-radius: 12px;
		padding: 32px 30px;
		border: 1px solid #2b2732;

		ul {
			margin-left: 24px;
			li {
				font-size: 18px;
				line-height: 28px;
				list-style: disc;
			}
		}
	}
}

.animated--circle {
	position: absolute;
	right: 80px;
	bottom: 80px;
	transform-origin: center center;
	animation: circle 8s linear infinite;
}
@keyframes circle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.step {
	&--btn {
		&-left,
		&-right {
			border: 1px solid #ffffff;
			position: relative;
			height: 54px;
			width: 108px;
			img {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto auto;
				transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
			}

			&:hover {
				background-color: none !important;
				background: none !important;
			}
		}
		&-left {
			&:hover {
				img {
					left: -25px;
				}
			}
		}
		&-right {
			&:hover {
				img {
					right: -25px;
				}
			}
		}
	}
	&--list {
		width: 100%;
		height: 360px;
		max-width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		position: relative;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&--item {
		position: absolute;
		left: 120px;
		top: 0;
		width: 380px;
		padding: 16px 32px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		color: #ffffff;
		border-radius: 8px;
		border: 1px solid #ffffff;

		h5 {
			margin: 0 0 11px 0;
		}
		p {
			margin: 0 0 16px 0;
		}

		transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
		&-active,
		&:hover {
			cursor: pointer;
			background-color: #ffffff;
			h4 {
				color: #2b2732;
			}
			p {
				color: #2b2732;
			}
		}

		&-1 {
			// 150
			left: 150px;
			top: 0;
		}

		&-2 {
			// 150 + 380
			left: calc(150px + 380px + 35px);
			top: 54px;
		}

		&-3 {
			// 150px + 380px + 35px
			left: calc(565px + 380px + 35px);
			top: 108px;
		}

		&-4 {
			// 565px + 380px + 35px
			left: calc(980px + 380px + 35px);
			top: 0;
		}

		&-5 {
			// 980px + 380px + 35px
			left: calc(1395px + 380px + 35px);
			top: 54px;
		}

		&-6 {
			// 1395px + 380px + 35px
			left: calc(1810px + 380px + 35px);
			top: 108px;
		}

		&-7 {
			// 1810px + 380px + 35px
			left: calc(2225px + 380px + 35px);
			top: 0px;
		}

		&-8 {
			// 2225px + 380px + 35px
			left: calc(2640px + 380px + 35px);
			top: 54px;
		}

		&-9 {
			// 2640px + 380px + 35px
			left: calc(3055px + 380px + 35px);
			top: 108px;
		}

		&-10 {
			// 3055px + 380px + 35px
			left: calc(3470px + 380px + 35px);
			top: 0px;
		}

		&-11 {
			// 3470px + 380px + 35px
			left: calc(3885px + 380px + 35px);
			top: 54px;
		}

		&-12 {
			// 3885px + 380px + 35px
			left: calc(4300px + 380px + 35px);
			top: 108px;
			margin-right: 150px !important;
		}
		&-clear {
			// 4300px + 380px + 35px
			left: calc(4715px + 150px);
			border: none;
		}

		&-liner {
			background: none !important;
			border: none;
			width: 4715px;
			max-width: 4715px;
			top: 260px;
		}
	}
}
