@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@font-face {
  font-family: 'GetVoIP Grotesque';
  font-style: normal;
  font-weight: 700;
  src: local("GetVoIP Grotesque"), url("https://fonts.cdnfonts.com/s/21763/GetVoIP Grotesque.woff") format("woff");
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #fbfbfb;
  color: #2b2732;
  font-family: 'Inter', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: #056d7b;
}

.text-white {
  color: #ffffff;
}

.text-white::after {
  content: '';
  background-color: #ffffff !important;
}

.h-underline::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #056d7b;
  position: absolute;
  bottom: -16px;
  left: 0;
}

.ml-auto {
  margin-left: auto;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 30px;
  border: 2px solid #2b2732;
  border-radius: 72px;
}

.btn--wrapper {
  width: 100%;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
}

.btn--primary {
  color: #ffffff;
  background: #11a083;
}

.btn--clear {
  border: none;
}

.btn:hover {
  background: #2b2732;
  color: #ffffff;
}

.animated--circle {
  position: absolute;
  right: 80px;
  bottom: 80px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: circle 8s linear infinite;
          animation: circle 8s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.x-hidden {
  overflow-x: hidden;
}

header {
  margin: 0;
  padding: 24px 0;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #2b2732;
}

header .logo {
  max-height: 80px;
  max-width: 120px;
}

header .social--icons,
header .menu--controller {
  display: none !important;
  cursor: pointer;
}

nav .menu--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}

footer {
  position: relative;
  padding: 92px 0;
  overflow-x: hidden;
}

footer h1 {
  font-family: 'GetVoIP Grotesque', sans-serif;
}

footer .mr-4 {
  margin-right: 16px;
}

footer .mt-max {
  margin-top: 64px;
}

footer .contacts {
  gap: 0;
}

footer .contacts--name {
  margin: 0;
  color: #7e7b82;
  font-family: 'GetVoIP Grotesque', sans-serif;
}

footer .contacts--map {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 40%;
  background: #7e7b82;
}

footer .btt {
  position: absolute;
  top: 100px;
  left: 80px;
}

footer #map {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

section {
  position: relative;
  padding: 92px 0;
  border-bottom: 1px solid #000000;
}

section h1 {
  position: relative;
  max-width: 80%;
  margin-bottom: 64px;
  font-size: 82px;
  font-family: 'GetVoIP Grotesque', sans-serif;
}

section h3 {
  position: relative;
  max-width: 600px;
  font-size: 32px;
  font-family: 'GetVoIP Grotesque', sans-serif;
}

section .hero--info .info--list {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

section .hero--info .info--list li {
  list-style: disc;
  font-size: 21px;
  margin-bottom: 8px;
}

section .services h4 {
  color: #7e7b82;
  margin-top: 0 !important;
  font-family: 'GetVoIP Grotesque', sans-serif;
}

section .services p {
  line-height: 25px;
}

section.banner {
  background-image: url("https://zerone-tecnology.github.io/layout.lp-zerone/assets/img/section__proccess.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.expirience .expirience--info .numeric {
  font-size: 72px;
  font-weight: 200;
  margin: 0 0 8px 0;
  font-family: 'Inter', sans-serif;
}

section.expirience .expirience--info p {
  color: #2b2732;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  opacity: 0.6;
}

section.hot {
  padding: 0 0 92px 0;
  color: #ffffff;
}

section.hot marquee {
  background: #056d7b;
}

section.hot marquee h1 {
  font-size: 120px;
  margin: 32px 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  text-transform: uppercase;
}

section.portfolio {
  min-height: 420px;
}

section.portfolio .portfolio--image-list {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  border-radius: 12px 0 0 12px;
  overflow: hidden;
  background-color: #11a083;
  height: 100%;
}

section.portfolio .portfolio--image-list .swiper,
section.portfolio .portfolio--image-list .swiper-wrapper,
section.portfolio .portfolio--image-list .swiper-slide {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

section.portfolio .portfolio--image-list .swiper .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 35% 0;
     object-position: 35% 0;
}

section.portfolio .slider--number {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 4px;
}

section.portfolio .slider--number-active {
  font-weight: 400;
}

section.portfolio .slider--number-total {
  font-size: 24px !important;
}

section.portfolio .slider--prev, section.portfolio .slider--next {
  position: relative;
  height: 54px;
  width: 108px;
}

section.portfolio .slider--prev img, section.portfolio .slider--next img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto auto;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

section.portfolio .slider--prev:hover {
  background: none !important;
}

section.portfolio .slider--prev:hover img {
  left: -25px;
}

section.portfolio .slider--next:hover {
  background: none !important;
}

section.portfolio .slider--next:hover img {
  right: -25px;
}

.tarif--list {
  margin-top: 48px;
  row-gap: 30px;
}

.tarif--content {
  border-radius: 12px;
  padding: 32px 30px;
  border: 1px solid #2b2732;
  overflow: hidden;
  position: relative;
}

.tarif--content ul {
  margin-left: 24px;
}

.tarif--content ul li {
  font-size: 18px;
  line-height: 28px;
  list-style: disc;
}

.tarif--content .stiker {
  position: absolute;
  top: 0;
  right: -16px;
  padding: 8px 32px 8px 16px;
  border-radius: 0 12px 12px 12px;
  color: #ffffff;
  background: #11a083;
  text-transform: uppercase;
}

.tarif--content .percenteage,
.tarif--content .price,
.tarif--content .price--old {
  margin: 0;
  font-weight: 200;
}

.tarif--content .price {
  font-size: 24px;
  color: #11a083;
  font-weight: 700;
}

.tarif--content .price--old {
  text-decoration: line-through;
}

.step--btn-left, .step--btn-right {
  border: 1px solid #ffffff;
  position: relative;
  height: 54px;
  width: 108px;
}

.step--btn-left img, .step--btn-right img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto auto;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.step--btn-left:hover, .step--btn-right:hover {
  background-color: none !important;
  background: none !important;
}

.step--btn-left:hover img {
  left: -25px;
}

.step--btn-right:hover img {
  right: -25px;
}

.step--list {
  width: 100%;
  height: 360px;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.step--list::-webkit-scrollbar {
  display: none;
}

.step--item {
  position: absolute;
  left: 120px;
  top: 0;
  width: 380px;
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ffffff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.step--item h5 {
  margin: 0 0 11px 0;
}

.step--item p {
  margin: 0 0 16px 0;
}

.step--item-active, .step--item:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.step--item-active h4, .step--item:hover h4 {
  color: #2b2732;
}

.step--item-active p, .step--item:hover p {
  color: #2b2732;
}

.step--item-1 {
  left: 150px;
  top: 0;
}

.step--item-2 {
  top: 54px;
}

.step--item-3 {
  top: 108px;
}

.step--item-4 {
  top: 0;
}

.step--item-5 {
  top: 54px;
}

.step--item-6 {
  top: 108px;
}

.step--item-7 {
  top: 0px;
}

.step--item-8 {
  top: 54px;
}

.step--item-9 {
  top: 108px;
}

.step--item-10 {
  top: 0px;
}

.step--item-11 {
  top: 54px;
}

.step--item-12 {
  top: 108px;
  margin-right: 150px !important;
}

.step--item-clear {
  border: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.step--item-liner {
  background: none !important;
  border: none;
  width: 4715px;
  max-width: 4715px;
  top: 260px;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

@media screen and (max-width: 768px) {
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header {
    z-index: 10;
    position: fixed;
    overflow: hidden;
    border-bottom: none;
    background: #fbfbfb;
    padding-bottom: 0;
  }
  header .header--top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #000000;
  }
  header .header--top .controller--close {
    display: none;
  }
  header .menu--wrapper {
    display: none !important;
  }
  header .menu--controller {
    margin-right: 15px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header.open {
    height: 100vh;
  }
  header.open .controller--burger {
    display: none;
  }
  header.open .controller--close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.open .social--icons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    gap: 32px;
  }
  header.open .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  header.open .menu--wrapper {
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  section {
    overflow: hidden;
  }
  section.hero h1 {
    font-size: 36px;
  }
  section.hero li {
    font-size: 16px !important;
  }
  section.hero .animated--circle {
    position: relative;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 32px 0 auto;
    max-width: 140px;
  }
  section.about .btn {
    width: 100%;
    max-width: 100%;
  }
  section.about .btn--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section.hot marquee h1 {
    font-size: 32px;
  }
  section.expirience {
    padding-bottom: 0;
    border-bottom: none !important;
  }
  section.expirience .tarif--wrapper {
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  section.expirience .tarif--wrapper ::-webkit-scrollbar {
    display: none;
  }
  section.expirience .tarif--list {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0 32px 0 0;
  }
  section.expirience .tarif--item {
    width: 318px;
  }
  section.banner .step--item {
    max-width: 318px;
  }
  section.portfolio .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.portfolio .btn--wrapper {
    display: none !important;
  }
  section.portfolio .portfolio--content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  section.portfolio .portfolio--content-numbers {
    margin: 0 auto;
  }
  section.portfolio .portfolio--image-list {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 320px;
    border-radius: 12px;
  }
  section.portfolio .portfolio--image-list .swiper .swiper-slide img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 32px;
  }
  footer .container .contacts--map {
    position: relative;
    display: block;
    height: 320px;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .btt {
    display: none;
  }
  footer .animated--circle {
    bottom: 32px;
    right: 32px;
    left: auto;
    max-width: 140px;
  }
}

@media screen and (max-width: 1200px) {
  section.expirience .tarif--item .btn {
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section.expirience .tarif--item .btn--wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  section.expirience .tarif--item .price--content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    margin-left: auto;
    text-align: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  section.expirience .tarif--item .price--content .percenteage {
    margin-top: 2px;
    padding-right: 15px;
  }
}
